/* SVG STYLES */

.white-circle {
  fill: #ffffff;
  stroke-width: 0.26458332;
}

.grey-circle {
  fill: #999999;
  stroke-width: 0.26458332
}

.grey-circle:hover,
.grey-circle:focus,
.grey-circle:active {
  fill: red;
}

.white-circle:hover,
.white-circle:focus,
.white-circle:active {
  fill: blue;
}