*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 65.2%;
  font-family: 'Montserrat',
    sans-serif;
  color: white;
}

#root {
  min-height: 100vh;
  background-color: white;
  /* width: 100vw; */

}


.up-sticky-nav {
  display: flex;
  position: fixed;
  z-index: 1000;
  width: 100vw;
  margin-top: -6rem;
  height: 10vh;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
  border-bottom: 1px solid white;

}

.up-sticky-nav>ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;

}

.up-sticky-nav>ul>li {
  margin: 0 1rem;
}

nav>ul>li>a {
  text-decoration: none;
  color: white;
}





/* HEADER (hero section) */

header {
  display: flex;
  flex-direction: column;
  flex: 20%;
  /* background-color: black; */
  height: 98vh;
  /* clip-path: polygon(-30% 0%, 100% -1%, 100% 100%, 114% 111%); */
  padding: 4rem;
  background: rgb(0, 0, 0);
  background: linear-gradient(189deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 46%, rgba(255, 255, 255, 1) 46.2%);
  margin-top: 6rem;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greeting1 {
  font-size: 3rem;
}

.call-to-action {
  font-size: 3rem;
}

.introduction :nth-child(2) {
  font-size: 3rem;
}

.profile-pic {
  height: 15rem;
  width: 15rem;
  position: absolute;
  /* transform: translateX(144%); */
  left: 35%;
  top: 43%;
  border-radius: 50%;
  background-color: white;
}

.profile-pic>img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.75);
  padding: 5px;
}

.nav-options {
  display: flex;
  justify-content: center;
  min-height: 13rem;
}

.main-btn {
  border: 2px solid grey;
  padding: 1rem;
  font-size: 2rem;
  background-color: black;
  color: white;
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.75);

}

input[type="button"]:hover,
input[type="button"]:focus {
  background-color: grey;
  border: none;
  offset: none;
}

/* MAIN CONTENT */

.about-cta {
  background-color: white;
  height: 29vh;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-top: -21rem;
  text-align: center;
}

.about-cta>p {
  width: 50%;
  font-size: 1.8rem;
  color: grey;
}

.about {
  display: flex;
  flex-flow: column wrap;
  min-height: 80vh;
  position: relative;
  text-align: center;
  background: linear-gradient(189deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 11%, rgba(0, 0, 0, 1) 11.2%);
}

.about>h3 {
  margin-top: 22rem;
  font-size: 1.7rem;
  margin-left: 9rem;
  margin-right: 9rem;
}

.about>section>p {
  font-size: 1.1rem;
  margin: 0 4rem;
  position: absolute;
  top: 58rem;
  left: 20rem;
  border: 1px solid white;
  padding: 2rem;
}

.about>section {
  text-align: left;
}


/* WORK SECTION */

.work-content-intro {
  margin: 5rem;
  text-align: center;
  font-size: 1.7rem;
}

.work-content-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 80vw;
  margin: 1rem;
  animation: 1s ease-out 0s 1 slideInFromLeft;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card>button {
  width: 2rem;
}

.card.image-container {
  width: 100%
}

.image-container>img {
  width: 100%;
}

.card:first-child {
  background-color: #81D2CB;
}

.card:last-child {
  background-color: #F7F0E9;
}

.work-content-intro>h3 {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

/* SKILLS SECTION */
.skills {
  display: flex;
  flex-flow: column;
  margin: 4rem 3rem;
  margin-bottom: 2rem;
  position: relative;
  min-height: 20rem;
}

.skills-navbar {
    position: absolute;
    top: -2rem;
    display: flex;
    left: 2rem;
    height: 2rem;
    background-color: grey;
    align-items: center;
    width: 75vw;
    justify-content: space-between;
    font-weight: bold;
  }

  .skills-navbar > p {
    margin: 0 0rem;
    height: 2rem;
    width: 8rem;
    text-align: center;
  }

  .skills-navbar > p:first-child {
    width: 13rem;
  }

  .skills-navbar > p:nth-child(2) {
    width: 15rem;
    margin-right: 3rem;
  }

  .skills-navbar > p:last-child {
    width: 15rem;
    margin-left: -3rem;
  }

  .active-option {
    background-color: #4F574D;
    height: 2rem;
    width: 8rem;
    text-align: center;
  }

  .skills-navbar > p:hover {
    background-color: #4F574D;
    height: 2rem;
    text-align: center;
    cursor: pointer;
  }

  .skills-content {
    width: 75vw;
    background-color: #4F574D;
    position: relative;
    left: 2rem;
    min-height: 28rem;
    padding: 4rem;
  }

  .skills-content > div {
    position: absolute;
    width: 75vw;
  }

  .skills-content > div > ul {
    margin-left: -3rem;
  }

  .competency-description {
    width: 43vw;
    margin-right: 1rem;
  }

  .competency-description > p {
    width: 95%;
  }

  #strong-basics-option {
    
  }

/* CONTACT FORM */
.contact {
  background-color: black;
  min-height: 111vh;
  margin-top: 6rem;

}

.contact form {
  height: 36rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}

.contact form input {
  width: 30rem;
  margin: 2rem 0;
  padding: 1rem;
}

.contact textarea {
  font-family: 'Montserrat',
    sans-serif;
  width: 30rem;
  height: 30rem;
}

.contact .send-btn {
  appearance: none;
  padding: 0.5rem;
  background-color: black;
  border: 2px solid grey;
  color: white;
}

footer {
  background-color: black;
  display: flex;
  flex-flow: column;
  padding: 1rem 4rem;
  /* padding-top: 1rem; */
  border-top: 3px solid #706C6C;
  font-size: 1.5rem;
  align-items: center;
  margin-top: 0rem;
}

footer i {
  margin-right: 4rem;
}

footer i:hover {
  color: #4F574D;
}

.professional-links {
  margin-top: 1rem;
}

.professional-links>i {
  font-size: 3rem;
}

/* HELPERS */

.hidden {
  display: none;
}

.active {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

/* ACCESORIES */

hr {
  width: 80vw;
  margin: 0 auto;
}


/* SVG STYLES */

.white-circle {
  fill: #ffffff;
  stroke-width: 0.26458332;
}

.grey-circle {
  fill: #999999;
  stroke-width: 0.26458332
}

 
.white-circle:hover,
.white-circle:focus,
.white-circle:active,
.grey-circle:hover,
.grey-circle:focus,
.grey-circle:active {
  fill: blue;
}

.active-svg-circle {
  fill: blue;
}

/* MEDIA QUERIES */

@media (min-width: 1065px) {
  .up-sticky-nav>ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 100vw;
  }

  .profile-pic {
    height: 15rem;
    width: 15rem;
    position: absolute;
    /* transform: translateX(144%); */
    left: 45%;
    top: 42%;
    border-radius: 50%;
    background-color: white;

  }

  .about {
    background: linear-gradient(185deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 11%, rgba(0, 0, 0, 1) 11.2%);
  }

  .about>section>p {
    font-size: 1.1rem;
    margin: 0 4rem;
    position: absolute;
    top: 58rem;
    left: 60rem;
    width: 31%;
  }

  svg {
    margin-left: 20rem;
  }

  .skills {
    display: flex;
    flex-flow: column;
    margin: 6rem 12rem;
    position: relative;
    min-height: 20rem;
  }

  .work {
    margin: 10rem;
  }

  .work-content-intro>h3 {
    font-size: 1.7rem;
  }


  

  /* WORK SECTION */

  .work-content-intro {
    margin: 5rem;
    text-align: center;
  }

  .work-content-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: unset;
  }

  .card {
    width: 20vw;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4rem;
    transition: all .2s ease-in-out;
  }

  .card:hover {
    transform: scale(1.2);
  }

  .card>button {
    width: 2rem;
  }

  .card.image-container {
    width: 100%
  }

  .image-container>img {
    width: 100%;
  }

  .card:first-child {
    background-color: #81D2CB;
  }

  .card:last-child {
    background-color: #F7F0E9;
  }


  #contact-form>h1 {
    font-size: 1.7rem;
  }
}